* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* --------------------common styles--------------- */
body {
    width: 100%;
    height: auto;
    background-color: #FFF4E7;
}

header {
    width: 1200px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    /* background-color: blueviolet; */
    margin: 50px 0;
    align-items: center;

}

.company-name {
    font-weight: 700;
    font-size: 1.5rem;

}

.header-nav a {
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
    color: rgb(56, 54, 54);
}

a:hover {
    text-decoration: underline;
    color: tomato;
}

.header-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-heading {
    width: 480px;
    height: auto;
    font-size: 1.5rem;
    text-align: center;
    /* border: 1px solid black; */
}

.header-intro {
    /* border: 1px solid black; */
    width: 600px;
    text-align: center;
    color: rgb(73, 72, 72);
    margin: 20px 0 20px;
}

.primary-btn button {
    font-size: 20px;
    background-color: #FF900E;
    padding: 10px;
    color: white;
    border-style: none;
    border-radius: 10px;
}

.primary-btn button:hover {
    border: 2px solid tomato;

}

.header-banner img {
    width: 900px;
    height: auto;
    margin-top: 50px;
}

/* ----------------header close------------- */
/* ----------header responsive is start here------------- */


/* ---------------------------------- */

main {
    width: 1200px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.main-section-1 {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 60px 0 90px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid black; */
    grid-gap: 20px;
}

.architect {}

.architect img {
    width: 200px;
    height: 200px;
}

.feature-details {
    width: 200px;
    height: auto;
    /* border: 1px solid black; */
    padding: 5px;
}

.feature-details p {
    font-size: 10px;
    color: rgb(14, 13, 13);
}

.feature-details button {
    margin-top: 25px;
}

.feature-details h3 {}

/* -------------------main section 2 is start here---------------- */
.main-section-2 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* .our-feature{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
} */
.feature {
    width: 400px;
    height: auto;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 11px;
    box-shadow: 2px 2px 2px 2px darkgray;

}

.feature-title {
    width: 300px;
    font-weight: 700;
    font-size: 22px;
}

.feature-banner {}

.feature-banner img {
    width: 100%;
    height: 700px;
}